.greeting {
  background-color: red;
  color: antiquewhite;
  padding: 50px;
}
.destructure {
  background-color: blue;
  color: aliceblue;
  padding: 50px;
}

.Condition {
  margin: 100px;
}
.moduleSyle {
  margin: 200px;
}
