.greeting {
  background-color: red;
  color: antiquewhite;
  padding: 50px;
}
.destructure {
  background-color: blue;
  color: aliceblue;
  padding: 50px;
}

.Condition {
  margin: 100px;
}
.moduleSyle {
  margin: 200px;
}

/* useref */

.Image-box {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
  background-color: aqua;
}

.org-img {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
}
